.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1,70%);
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;

}

